#red_rect{
    background-color: red;
    height: 200px;
    width: 400px;
    position: relative;
}

#blu_rect{
    background-color: rgb(1, 19, 91);
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 50px;
}

#wh_cir{
    background-color: white;
    height: 80px;
    width: 80px;
    position:absolute;
    left: 160px;
    bottom: 10px;
    border-radius: 50%;
}